body {
    justify-content: center;
    align-items: center;
    background-color: #1c1225;
    color: #fff;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    background: #fff;
    color: #000;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 800px;
}
.left-section {
    background-color: #1C1225;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: -12px;
    padding: 20px;
}
.left-section img {
    max-width: 100%;
    border-radius: 10px;
}
.right-section {
    width: 50%;
    padding: 40px;
}
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
}
input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.forgot-password {
    text-align: right;
    margin-top: 5px;
}
.forgot-password a, .register a {
    text-decoration: none;
}
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #1C1225;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0f3460;
}
.register {
    text-align: center;
    margin-top: 15px;
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 46%;
    margin-bottom: 5%;
}